In [1]:
import pandas as pd
import numpy as np
import os
import re

os.chdir('waterloo_datathon_datasets')
pd.set_option('max_columns', 50)

In [2]:
df = pd.read_csv('demographics.csv')

print(df.head())
print(df.tail())

   year                  geography  total_households  $9,999_or_less  \
0  2016                   New York           7266187          556825
1  2016    Albany County, New York            124108            7606
2  2016  Allegany County, New York             18032            1282
3  2016     Bronx County, New York            490740           76719
4  2016    Broome County, New York             78738            6134

   $10,000_to_$14,999  $15,000_to_$24,999  $25,000_to_$34,999  \
0              373344              691781              632230
1                6285               11507               10845
2                1193                2308                2110
3               45398               66942               54687
4                4972               10079                8560

   $35,000_to_$49,999  $50,000_to_$74,999  $75,000_to_$99,999  \
0              832804             1177356              865492
1               14900               22510               16017
2                3196                3521                2277
3               65338               74323               44111
4               11189               14361                9432

   $100,000_to_$150,000  $150,000_to_$199,999  $200,000_or_more  \
0               1062251                489214            584890
1                 19466                  8093              6879
2                  1604                   320               221
3                 40947                 12865              9410
4                  9066                  2742              2203

   median_household_income  mean_household_income  mean_earnings  \
0                    60741                  89397          93924
1                    60904                  81603          83232
2                    44085                  54958          54495
3                    35302                  51445          57317
4                    47744                  63302          64554

   mean_soc_sec  mean_ret_income  mean_supp_sec_income  mean_cash_pub_income  \
0         18381            26534                  9366                  3825
1         19131            29496                  9341                  3743
2         17561            19662                  9160                  3220
3         14211            20862                  8885                  3598
4         18249            22972                  9310                  3492

   food_stamp_benefits  population  pop_w_health_insurance  \
0              1118434  19453583.0              17785491.0
1                14305    304048.0                287725.0
2                 2872     47207.0                 43052.0
3               179811   1414859.0               1240816.0
4                12867    194413.0                183183.0

   pop_w_private_health  pop_w_public_coverage  pop_no_health_insurance
0            12842299.0              7134416.0                1668092.0
1              237720.0                93742.0                  16323.0
2               32118.0                18423.0                   4155.0
3              615421.0               754030.0                 174043.0
4              134119.0                78559.0                  11230.0
     year                     geography  total_households  $9,999_or_less  \
373  2011   Washington County, New York             24682            1258
374  2011        Wayne County, New York             36563            1781
375  2011  Westchester County, New York            345908           16042
376  2011      Wyoming County, New York             15549             796
377  2011        Yates County, New York              9552             664

     $10,000_to_$14,999  $15,000_to_$24,999  $25,000_to_$34,999  \
373                1507                2919                2787
374                1877                3812                3894
375               12199               25157               24861
376                 907                1841                1593
377                 584                1218                 994

     $35,000_to_$49,999  $50,000_to_$74,999  $75,000_to_$99,999  \
373                3838                5375                3636
374                5335                7943                5648
375               33927               50805               40032
376                2403                3467                2362
377                1487                1969                1285

     $100,000_to_$150,000  $150,000_to_$199,999  $200,000_or_more  \
373                  2398                   584               380
374                  4596                  1219               458
375                 55176                 30857             56852
376                  1799                   243               138
377                   841                   234               276

     median_household_income  mean_household_income  mean_earnings  \
373                    50117                  59259          58023
374                    54380                  63361          62840
375                    80725                 130005         132762
376                    51312                  58742          57786
377                    48125                  62739          58921

     mean_soc_sec  mean_ret_income  mean_supp_sec_income  \
373         16425            18925                  7543
374         17321            20939                  9314
375         18811            30470                  8896
376         17019            20311                  8742
377         16395            23788                  7962

     mean_cash_pub_income  food_stamp_benefits  population  \
373                  2487                 2771         NaN
374                  2945                 3630         NaN
375                  4355                22016         NaN
376                  3310                 1241         NaN
377                  3598                 1207         NaN

     pop_w_health_insurance  pop_w_private_health  pop_w_public_coverage  \
373                     NaN                   NaN                    NaN
374                     NaN                   NaN                    NaN
375                     NaN                   NaN                    NaN
376                     NaN                   NaN                    NaN
377                     NaN                   NaN                    NaN

     pop_no_health_insurance
373                      NaN
374                      NaN
375                      NaN
376                      NaN
377                      NaN

In [3]:
# format county column

# drop ny state row
df = df[df['geography'] != 'New York']

# remove ' County, New York'
df.loc[:, 'geography'] = df.geography.apply(lambda x: re.sub(' County, New York', '', x.strip()))

df.head()

,year,geography,total_households,"$9,999_or_less","$10,000_to_$14,999","$15,000_to_$24,999","$25,000_to_$34,999","$35,000_to_$49,999","$50,000_to_$74,999","$75,000_to_$99,999","$100,000_to_$150,000","$150,000_to_$199,999","$200,000_or_more",median_household_income,mean_household_income,mean_earnings,mean_soc_sec,mean_ret_income,mean_supp_sec_income,mean_cash_pub_income,food_stamp_benefits,population,pop_w_health_insurance,pop_w_private_health,pop_w_public_coverage,pop_no_health_insurance
1,2016,Albany,124108,7606,6285,11507,10845,14900,22510,16017,19466,8093,6879,60904,81603,83232,19131,29496,9341,3743,14305,304048.0,287725.0,237720.0,93742.0,16323.0
2,2016,Allegany,18032,1282,1193,2308,2110,3196,3521,2277,1604,320,221,44085,54958,54495,17561,19662,9160,3220,2872,47207.0,43052.0,32118.0,18423.0,4155.0
3,2016,Bronx,490740,76719,45398,66942,54687,65338,74323,44111,40947,12865,9410,35302,51445,57317,14211,20862,8885,3598,179811,1414859.0,1240816.0,615421.0,754030.0,174043.0
4,2016,Broome,78738,6134,4972,10079,8560,11189,14361,9432,9066,2742,2203,47744,63302,64554,18249,22972,9310,3492,12867,194413.0,183183.0,134119.0,78559.0,11230.0
5,2016,Cattaraugus,31502,2078,2224,4272,4040,4828,6134,3562,3288,695,381,43884,55632,56502,17614,18700,9342,2879,5588,77748.0,70680.0,52874.0,31778.0,7068.0

In [4]:
# create % columns

df.loc[:, '%_9999_or_less'] = df['$9,999_or_less'].astype(float) / df['total_households'].astype(float)
df.loc[:, '%_150000_or_more'] = (df['$150,000_to_$199,999'].astype(float) + df['$200,000_or_more'].astype(float)) / df['total_households'].astype(float)
df.loc[:, '%_health_insurance'] = df['pop_w_health_insurance'].astype(float) / df['population'].astype(float)
df.loc[:, '%_private_coverage'] = df['pop_w_private_health'].astype(float) / df['population'].astype(float)
df.loc[:, '%_public_coverage'] = df['pop_w_public_coverage'].astype(float) / df['population'].astype(float)

print(df.columns)

df.head()

Index(['year', 'geography', 'total_households', '$9,999_or_less',
       '$10,000_to_$14,999', '$15,000_to_$24,999', '$25,000_to_$34,999',
       '$35,000_to_$49,999', '$50,000_to_$74,999', '$75,000_to_$99,999',
       '$100,000_to_$150,000', '$150,000_to_$199,999', '$200,000_or_more',
       'median_household_income', 'mean_household_income', 'mean_earnings',
       'mean_soc_sec', 'mean_ret_income', 'mean_supp_sec_income',
       'mean_cash_pub_income', 'food_stamp_benefits', 'population',
       'pop_w_health_insurance', 'pop_w_private_health',
       'pop_w_public_coverage', 'pop_no_health_insurance', '%_9999_or_less',
       '%_150000_or_more', '%_health_insurance', '%_private_coverage',
       '%_public_coverage'],
      dtype='object')

,year,geography,total_households,"$9,999_or_less","$10,000_to_$14,999","$15,000_to_$24,999","$25,000_to_$34,999","$35,000_to_$49,999","$50,000_to_$74,999","$75,000_to_$99,999","$100,000_to_$150,000","$150,000_to_$199,999","$200,000_or_more",median_household_income,mean_household_income,mean_earnings,mean_soc_sec,mean_ret_income,mean_supp_sec_income,mean_cash_pub_income,food_stamp_benefits,population,pop_w_health_insurance,pop_w_private_health,pop_w_public_coverage,pop_no_health_insurance,%_9999_or_less,%_150000_or_more,%_health_insurance,%_private_coverage,%_public_coverage
1,2016,Albany,124108,7606,6285,11507,10845,14900,22510,16017,19466,8093,6879,60904,81603,83232,19131,29496,9341,3743,14305,304048.0,287725.0,237720.0,93742.0,16323.0,0.061285,0.120637,0.946314,0.781850,0.308313
2,2016,Allegany,18032,1282,1193,2308,2110,3196,3521,2277,1604,320,221,44085,54958,54495,17561,19662,9160,3220,2872,47207.0,43052.0,32118.0,18423.0,4155.0,0.071096,0.030002,0.911983,0.680365,0.390260
3,2016,Bronx,490740,76719,45398,66942,54687,65338,74323,44111,40947,12865,9410,35302,51445,57317,14211,20862,8885,3598,179811,1414859.0,1240816.0,615421.0,754030.0,174043.0,0.156333,0.045391,0.876989,0.434970,0.532936
4,2016,Broome,78738,6134,4972,10079,8560,11189,14361,9432,9066,2742,2203,47744,63302,64554,18249,22972,9310,3492,12867,194413.0,183183.0,134119.0,78559.0,11230.0,0.077904,0.062803,0.942236,0.689866,0.404083
5,2016,Cattaraugus,31502,2078,2224,4272,4040,4828,6134,3562,3288,695,381,43884,55632,56502,17614,18700,9342,2879,5588,77748.0,70680.0,52874.0,31778.0,7068.0,0.065964,0.034157,0.909091,0.680069,0.408731

In [5]:
# drop unnecessary columns
df.drop(['$9,999_or_less',
       '$10,000_to_$14,999', '$15,000_to_$24,999', '$25,000_to_$34,999',
       '$35,000_to_$49,999', '$50,000_to_$74,999', '$75,000_to_$99,999',
       '$100,000_to_$150,000', '$150,000_to_$199,999', '$200,000_or_more', 'pop_w_health_insurance',
       'pop_w_private_health', 'pop_w_public_coverage',
       'pop_no_health_insurance'], axis=1, inplace=True)

df.head()

,year,geography,total_households,median_household_income,mean_household_income,mean_earnings,mean_soc_sec,mean_ret_income,mean_supp_sec_income,mean_cash_pub_income,food_stamp_benefits,population,%_9999_or_less,%_150000_or_more,%_health_insurance,%_private_coverage,%_public_coverage
1,2016,Albany,124108,60904,81603,83232,19131,29496,9341,3743,14305,304048.0,0.061285,0.120637,0.946314,0.781850,0.308313
2,2016,Allegany,18032,44085,54958,54495,17561,19662,9160,3220,2872,47207.0,0.071096,0.030002,0.911983,0.680365,0.390260
3,2016,Bronx,490740,35302,51445,57317,14211,20862,8885,3598,179811,1414859.0,0.156333,0.045391,0.876989,0.434970,0.532936
4,2016,Broome,78738,47744,63302,64554,18249,22972,9310,3492,12867,194413.0,0.077904,0.062803,0.942236,0.689866,0.404083
5,2016,Cattaraugus,31502,43884,55632,56502,17614,18700,9342,2879,5588,77748.0,0.065964,0.034157,0.909091,0.680069,0.408731

In [6]:
df.to_csv('demographics_cleaned.csv', index=False)